---
// src/pages/about.astro
import { Icon } from 'astro-icon/components';
---
  <main class="container mx-auto px-4 py-16">
    <div class="about-container max-w-4xl mx-auto">
      <h1 class="text-4xl font-bold mb-3 text-center about-title">About Me</h1>
      
      <div class="about-content p-8 rounded-lg shadow-lg mb-12">
        <div class="about-text prose dark:prose-invert max-w-none">
          <p>I'm fueled by a passion for programming, where I dive into the intricacies of scalable systems, maintenance, deployment, and debugging. My journey began with a Software Engineering degree, and I've since immersed myself in full-stack development, exploring a myriad of technologies along the way.</p>


          <p>With a growth mindset, I thrive in teams where I can learn from the best, absorb their expertise, and elevate my skills. I'm always on the lookout for ways to improve, often finding inspiration in the work of others.</p> <br>


          <p>When I'm not coding, you'll find me lost in logs, brush in hand, or gazing at breathtaking mountain vistas. I'm a firm believer in paying it forward, sharing knowledge, and giving back to the community that's shaped me.</p>
            <br>

          <p>As I continue on this never-ending journey, I'm reminded that 'life is a journey, not a destination' – or in my case, a journey until I meet death, my final destination.</p>
          </div>
      </div>
      
      <h2 class="text-2xl font-bold mb-6 text-center tech-title">Technologies I Work With</h2>
      
      <div class="tech-grid grid grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-6 mb-12">
        <div class=" tech-item p-4 rounded-lg shadow-md text-center transition-transform hover:scale-105">
          <Icon name="logos:react" class="w-16 h-16 mx-auto mb-2 animate-spin " />
          <p class="font-medium">React</p>
        </div>
        
        <div class="tech-item p-4  rounded-lg shadow-md text-center transition-transform hover:scale-105">
          <Icon name="logos:nextjs-icon" class="w-16 h-16 mx-auto mb-2" />
          <p class="font-medium">Next.js</p>
        </div>
        
        <div class="tech-item p-4  rounded-lg shadow-md text-center transition-transform hover:scale-105">
          <Icon name="logos:python" class="w-16 h-16 mx-auto mb-2" />
          <p class="font-medium">Python</p>
        </div>
        
        <div class="tech-item p-4 rounded-lg shadow-md text-center transition-transform hover:scale-105">
          <Icon name="logos:django-icon" class="w-16 h-16 mx-auto mb-2" />
          <p class="font-medium">Django</p>
        </div>
        
        <div class="tech-item p-4  rounded-lg shadow-md text-center transition-transform hover:scale-105">
          <Icon name="logos:typescript-icon" class="w-16 h-16 mx-auto mb-2" />
          <p class="font-medium">TypeScript</p>
        </div>
        
        <div class="tech-item p-4 rounded-lg shadow-md text-center transition-transform hover:scale-105">
          <Icon name="logos:firebase" class="w-16 h-16 mx-auto mb-2" />
          <p class="font-medium">Firebase</p>
        </div>
        
        <div class="tech-item p-4 rounded-lg shadow-md text-center transition-transform hover:scale-105">
          <Icon name="logos:postgresql" class="w-16 h-16 mx-auto mb-2" />
          <p class="font-medium">Postgres</p>
        </div>
        
        <div class="tech-item p-4 rounded-lg shadow-md text-center transition-transform hover:scale-105">
          <Icon name="logos:express" class="w-16 h-16 mx-auto mb-2" />
          <p class="font-medium">ExpressJS</p>
        </div>
        <div class="tech-item p-4 rounded-lg shadow-md text-center transition-transform hover:scale-105">
          <Icon name="logos:nestjs" class="w-16 h-16 mx-auto mb-2" />
          <p class="font-medium">NestJS</p>
        </div>
        <div class="tech-item p-4 rounded-lg shadow-md text-center transition-transform hover:scale-105">
          <Icon name="logos:supabase" class="w-16 h-16 mx-auto mb-2" />
          <p class="font-medium">Supabase</p>
        </div>
        <div class="tech-item p-4 rounded-lg shadow-md text-center transition-transform hover:scale-105">
          <Icon name="logos:tailwindcss-icon" class="w-16 h-16 mx-auto mb-2" />
          <p class="font-medium">Tailwind</p>
        </div>
        <div class="tech-item p-4 rounded-lg shadow-md text-center transition-transform hover:scale-105">
          <Icon name="logos:mongodb-icon" class="w-16 h-16 mx-auto mb-2" />
          <p class="font-medium">MongoDB</p>
        </div>
      </div>
    </div>
  </main>

