---
// Import any required icons from your preferred icon library
import { Icon } from 'astro-icon/components';
---

<footer class="w-full  py-4 px-6 border-t-2">
    <div class="container mx-auto flex flex-col sm:flex-row justify-between items-center">
        <div class="text-xl font-semibold mb-4 sm:mb-0">
            Moaiz
        </div>
        
        <div class="flex space-x-4">
            <a href="https://github.com/MOAIZ-UL-ISLAM?tab=repositories" target="_blank" rel="noopener noreferrer" 
                class="hover:text-gray-400 transition-colors">
                <Icon name="mdi:github" class="w-6 h-6" />
            </a>
            <a href='https://www.linkedin.com/in/moaiz-ul-islam-a4b4b621a/' target="_blank" rel="noopener noreferrer"
                class="hover:text-gray-400 transition-colors">
                <Icon name="mdi:linkedin" class="w-6 h-6" />
            </a>
            <a href="https://twitter.com" target="_blank" rel="noopener noreferrer"
                class="hover:text-gray-400 transition-colors">
                <Icon name="mdi:twitter" class="w-6 h-6" />
            </a>
            <a href="mailto:moaiz0404@gamil.com"
                class="hover:text-gray-400 transition-colors">
                <Icon name="mdi:email" class="w-6 h-6" />
            </a>
            <!-- <a href="https://instagram.com" target="_blank" rel="noopener noreferrer"
                class="hover:text-gray-400 transition-colors">
                <Icon name="mdi:instagram" class="w-6 h-6" />
            </a> -->
          
        </div>
    </div>
</footer>